<!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>identificacion</th>
                    <th>tipo Identificacion</th>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>genero</th>
                    <th>correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of docentes">
                    <td>{{docente.identificacion}}</td>
                    <td>{{docente.tipoIdentificacion}}</td>
                    <td>{{docente.nombres}}</td>
                    <td>{{docente.apellidos}}</td>
                    <td>{{docente.genero}}</td>
                    <td>{{docente.correo}}</td>
                </tr>>
            </tbody>
        </table>
    </div>
</div> -->


<!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>identificacion</th>
                    <th>tipo Identificacion</th>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>genero</th>
                    <th>correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of docentes">
                    <td>{{docente.identificacion}}</td>
                    <td>{{docente.tipoIdentificacion}}</td>
                    <td>{{docente.nombres}}</td>
                    <td>{{docente.apellidos}}</td>
                    <td>{{docente.genero}}</td>
                    <td>{{docente.correo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<h1>Docentes:</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Identificacion</th>
            <th>Tipo Identificacion</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let docente of docentes">
            <td>{{docente.identificacion}}</td>
            <td>{{docente.tipoIdentificacion}}</td>
            <td>{{docente.nombres}}</td>
            <td>{{docente.apellidos}}</td>
            <td>{{docente.genero}}</td>
            <td>{{docente.correo}}</td>
        </tr>
    </tbody>
</table>
    